accelerate==0.28.0
affine==2.4.0
aiofiles==23.2.1
aiohttp==3.9.5
aiopen==0.5.5
aiosignal==1.3.1
altair==5.0.1
annotated-types==0.7.0
anthropic==0.25.6
anyio==3.7.1
appdirs==1.4.4
argcomplete==3.2.2
asgiref==3.8.1
asttokens==2.4.1
async-generator==1.10
async-timeout==4.0.3
asyncify==0.10.0
asyncpg==0.28.0
atomicwrites==1.4.1
attrs==23.2.0
auto_gptq==0.7.1
aws-sam-translator==1.83.0
aws-xray-sdk==2.12.1
awscli==1.32.113
Babel==2.14.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.3
beautysh==6.2.1
bert-score==0.3.13
bitsandbytes==0.45.3
black==24.2.0
bleach==6.1.0
blinker==1.6.2
boto3==1.38.25
boto3-stubs==1.37.15
botocore==1.38.25
botocore-stubs==1.37.20
bounded-pool-executor==0.0.3
bs4==0.0.2
build==1.0.3
CacheControl==0.13.1
cachetools==5.3.3
Cartopy==0.24.1
Cerberus==1.3.5
certifi==2025.1.31
cffi==1.16.0
cfgrib==0.9.15.0
cfgv==3.4.0
cfn-lint==0.85.0
cftime==1.6.4.post1
chardet==5.2.0
charset-normalizer==3.3.2
Chroma==0.2.0
chroma-bullet==2.2.0
chroma-hnswlib==0.7.6
chroma-migrate==0.0.7
chromadb==0.6.3
ci-info==0.3.0
cleo==2.1.0
click==8.1.7
click-plugins==1.1.1
clickhouse-connect==0.6.6
cligj==0.7.2
codespell==2.2.6
color-operations==0.1.3
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.2
configobj==5.0.8
configparser==5.3.0
constants==0.6.0
contourpy==1.2.0
coverage==7.4.1
crashtest==0.4.1
cryptography==41.0.1
cycler==0.12.1
dataclasses-json==0.6.6
datasets==2.15.0
debugpy==1.8.6
decorator==5.1.1
deepdiff==6.3.1
defusedxml==0.7.1
Deprecated==1.2.14
diff_cover==9.2.0
dill==0.3.7
dirtyjson==1.0.8
distlib==0.3.8
distro==1.8.0
docker==7.0.0
docopt==0.6.2
docutils==0.16
duckdb==0.7.1
dulwich==0.21.7
eccodes==2.39.2
ecdsa==0.18.0
emojidb==0.0.3
entrypoints==0.4
eradicate==2.3.0
et-xmlfile==1.1.0
etelemetry==0.3.0
execnet==2.0.2
executing==2.1.0
fastapi==0.110.0
fastjsonschema==2.19.1
ffmpy==0.3.2
filelock==3.13.1
filetype==1.2.0
findlibs==0.0.5
flake8==7.0.0
flake8-comprehensions==3.14.0
flake8-eradicate==1.5.0
Flask==3.0.2
flatbuffers==23.5.26
fmts==0.2.0
fonttools==4.49.0
frozenlist==1.4.1
fsspec==2023.6.0
funkify==0.4.5
future==0.18.3
gekko==1.0.7
ghp-import==2.1.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.29.0
googleapis-common-protos==1.63.0
gradio==4.19.2
gradio_client==0.10.1
graphql-core==3.2.3
greenlet==3.0.3
griffe==0.31.0
grpcio==1.62.1
h11==0.14.0
h3==3.7.6
h5==0.9.2
h5py==3.10.0
halo==0.0.31
hnswlib==0.7.0
httpcore==1.0.2
httplib2==0.22.0
httptools==0.5.0
httpx==0.27.0
huggingface-hub==0.29.1
humanfriendly==10.0
identify==2.5.33
idna==3.7
imageio==2.31.1
importlib-metadata==6.11.0
importlib_resources==6.1.2
iniconfig==2.0.0
installer==0.7.0
ipyfilechooser==0.6.0
ipykernel==6.29.5
ipyparallel==8.8.0
ipython==8.12.3
ipywidgets==8.1.3
isodate==0.6.1
isort==5.13.2
itsdangerous==2.1.2
jaraco.classes==3.2.3
jedi==0.19.1
Jinja2==3.1.3
jiter==0.8.2
jmespath==1.0.1
joblib==1.2.0
jschema-to-python==1.2.3
jsonbourne==0.29.0
jsonc2json==0.0.2
jsondiff==2.0.0
jsonlines==4.0.0
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-path==0.3.2
jsonschema-specifications==2023.12.1
junit-xml==1.9
jupyter_client==8.6.0
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.11
jupytext==1.16.1
keyring==24.3.0
kiwisolver==1.4.5
kubernetes==29.0.0
lager==0.18.2
langchain==0.2.1
langchain-aws==0.1.6
langchain-community==0.0.38
langchain-core==0.3.39
langchain-openai==0.1.1
langchain-text-splitters==0.3.6
langsmith==0.3.10
lasio==0.31
lazy-object-proxy==1.10.0
listless==0.1.6
llama-cloud==0.1.13
llama-cloud-services==0.6.1
llama-index==0.12.19
llama-index-agent-openai==0.4.6
llama-index-cli==0.4.0
llama-index-core==0.12.19
llama-index-embeddings-huggingface==0.5.1
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.8
llama-index-legacy==0.9.48
llama-index-llms-ollama==0.5.2
llama-index-llms-openai==0.3.20
llama-index-multi-modal-llms-openai==0.4.3
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.5
llama-index-readers-llama-parse==0.4.0
llama-parse==0.6.1
llamaindex-py-client==0.1.13
llvmlite==0.43.0
log-symbols==0.0.14
loguru==0.7.2
looseversion==1.2.0
lxml==4.9.3
lz4==4.3.2
Markdown==3.5.2
markdown-callouts==0.3.0
markdown-extensions==0.0.1
markdown-it-py==3.0.0
MarkupSafe==2.1.4
marshmallow==3.21.2
marshmallow-enum==1.5.1
matplotlib==3.8.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
mergedeep==1.3.4
mistune==3.0.2
mkdocs==1.5.3
mkdocs-autorefs==0.4.1
mkdocs-jupyter==0.24.3
mkdocs-material==9.5.11
mkdocs-material-extensions==1.3.1
mkdocstrings==0.22.0
mkdocstrings-crystal==0.3.6
mkdocstrings-python==1.1.2
mmh3==4.1.0
monotonic==1.6
more-itertools==10.2.0
morecantile==5.3.0
moto==5.0.0
mpmath==1.3.0
msgpack==1.0.4
multidict==6.0.5
multipart==0.2.4
multiprocess==0.70.15
mypy==1.8.0
mypy-boto3-bedrock==1.37.18
mypy-boto3-bedrock-runtime==1.37.7
mypy-boto3-cloudformation==1.37.0
mypy-boto3-dynamodb==1.37.12
mypy-boto3-ec2==1.37.16
mypy-boto3-lambda==1.37.16
mypy-boto3-rds==1.37.6
mypy-boto3-s3==1.37.0
mypy-boto3-sqs==1.37.0
mypy-boto3-sts==1.37.0
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.14.2
nbformat==5.9.2
nest-asyncio==1.6.0
netCDF4==1.7.2
networkx==3.1
nibabel==5.1.0
nipype==1.8.6
nltk==3.9.1
nodeenv==1.8.0
nose==1.3.7
nox==2023.4.22
numba==0.60.0
numexpr==2.8.4
numpy==1.26.4
oauthlib==3.2.2
ollama==0.4.7
onnxruntime==1.15.0
openai==1.64.0
openapi-schema-pydantic==1.2.4
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
opencv-python==4.9.0.80
openpyxl==3.1.2
opensearch-py==2.3.1
opentelemetry-api==1.23.0
opentelemetry-exporter-otlp-proto-common==1.23.0
opentelemetry-exporter-otlp-proto-grpc==1.23.0
opentelemetry-instrumentation==0.44b0
opentelemetry-instrumentation-asgi==0.44b0
opentelemetry-instrumentation-fastapi==0.44b0
opentelemetry-proto==1.23.0
opentelemetry-sdk==1.23.0
opentelemetry-semantic-conventions==0.44b0
opentelemetry-util-http==0.44b0
optimum==1.18.0
ordered-set==4.1.0
orjson==3.10.3
outcome==1.3.0.post0
overrides==7.3.1
packaging==24.1
paginate==0.5.6
pandas==1.5.3
pandocfilters==1.5.1
parso==0.8.4
pathable==0.4.3
pathlib==1.0.1
pathspec==0.12.1
pbr==6.0.0
pdfminer.six==20221105
pdfplumber==0.9.0
peft==0.10.0
pep517==0.13.1
pexpect==4.8.0
pickleshare==0.7.5
piexif==1.1.3
pillow==11.0.0
pillow_heif==0.21.0
pip-api==0.0.30
pip-tools==7.4.0
pipreqs==0.4.13
pkginfo==1.9.6
platformdirs==4.3.6
plette==0.4.4
pluggy==1.4.0
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-export==1.6.0
polars==1.20.0
posthog==3.0.1
pqdm==0.2.0
pre-commit==3.6.0
prompt_toolkit==3.0.48
protobuf==4.23.2
prov==2.0.0
psutil==6.0.0
psycopg2==2.9.6
ptyprocess==0.7.0
pulsar-client==3.2.0
pupy==2.23.0
pure_eval==0.2.3
py==1.11.0
py-partiql-parser==0.5.0
pyarrow==12.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.8.1b0
pydot==1.4.2
pydub==0.25.1
pyflakes==3.2.0
Pygments==2.18.0
pymdown-extensions==10.7
Pympler==1.0.1
PyMuPDF==1.24.0
PyMuPDFb==1.24.0
pyparsing==3.0.9
pypdf==5.3.0
PyPDF2==3.0.1
PyPika==0.48.9
pyproj==3.6.1
pyproject_hooks==1.0.0
pyreadline3==3.4.1
pyright==1.1.350
pyrsistent==0.19.3
pyshp==2.3.1
pystac==1.7.3
pytest==8.0.2
pytest-asyncio==0.23.5
pytest-cov==4.1.0
pytest-mock==3.14.1
pytest-xdist==3.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.9
python-rapidjson==1.14
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
pywin32==307
pywin32-ctypes==0.2.0
pyxnat==1.5
PyYAML==6.0.1
pyyaml_env_tag==0.1
pyzmq==25.1.2
rapidfuzz==3.6.1
rasterio==1.3.10
rdflib==6.3.2
referencing==0.33.0
regex==2023.12.25
requests==2.32.2
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requirementslib==3.0.0
requires==0.10.5
responses==0.24.1
resqpy==4.18.10
retrying==1.3.4
rfc3339-validator==0.1.4
rich==13.6.0
rio-tiler==6.6.1
rouge==1.0.1
rpds-py==0.17.1
rsa==4.7.2
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
ruff==0.11.8
ry==0.0.41
s3transfer==0.13.0
safetensors==0.4.2
sarif-om==1.0.4
scikit-learn==1.2.2
scipy==1.11.1
semantic-version==2.10.0
sentence-transformers==3.4.1
sentencepiece==0.1.99
shapely==2.0.6
shellfish==0.5.1
shellingham==1.5.0.post1
simplejson==3.19.1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.5
spinners==0.0.24
SQLAlchemy==2.0.30
sqlfluff==3.2.5
sshpubkeys==3.3.1
stack-data==0.6.3
starlette==0.36.3
striprtf==0.0.26
sympy==1.13.1
tabula-py==2.7.0
tblib==3.0.0
tenacity==8.3.0
termcolor==2.3.0
terminaltexteffects==0.10.1
threadpoolctl==3.1.0
tiktoken==0.6.0
timezonefinder==6.2.0
tinycss2==1.2.1
tokenize-rt==5.2.0
tokenizers==0.21.0
toml==0.10.2
tomlkit==0.12.0
toolz==0.12.0
torch==2.6.0
tornado==6.4.1
tqdm==4.66.2
traitlets==5.14.1
traits==6.3.2
transformers==4.49.0
trio==0.21.0
trove-classifiers==2023.2.8
typer==0.9.0
types-awscrt==0.24.2
types-boto3==1.38.25
types-boto3-bedrock-agent-runtime==1.38.21
types-boto3-bedrock-runtime==1.38.4
types-colorama==0.4.15.11
types-Markdown==3.5.0.20240129
types-python-dateutil==2.8.19.20240106
types-s3transfer==0.11.4
types-setuptools==57.4.18
types-toml==0.10.8.7
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==4.3
Unidecode==1.3.8
urllib3==1.26.20
utiles==0.4.1
uvicorn==0.27.1
validators==0.20.0
vector==1.6.1
virtualenv==20.25.0
Wand==0.6.11
watchdog==3.0.0
watchfiles==0.19.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==11.0.3
Werkzeug==3.0.1
widgetsnbextension==4.0.11
win32-setctime==1.1.0
wrapt==1.16.0
xarray==2024.2.0
xdoctest==1.1.3
xmltodict==0.13.0
xtyping==0.8.2
xxhash==3.3.0
yarg==0.1.9
yarl==1.9.4
zipp==3.13.0
zstandard==0.23.0
